.idea
tmp

public/tiles/*.jpg

public/assets/images/pictures/*/*

public/assets/items/icons/*/*
public/assets/items/images/*/*

public/assets/skills/icons/*/*
public/assets/spells/icons/*/*

public/assets/users/avatars/*/*
public/assets/users/profile_images/*/*




