<p>Dear <%= @owner.name %></p>
<p>Clan <strong><%= @from_clan.name %></strong> has accepted your clan into the <strong><%= @alliance.name %></strong> Alliance.</p>
<p>Both clans are now able to access each other's restricted alliance forums.</p>
<p>You can leave the alliance at any time by clicking the <strong>leave</strong> link against the <%= @alliance.name %> alliance in your Clan page.</p>