<p>Dear <%= @user.name %>,</p>
<p>Congratulations! The <%= @clan.name %> Leader has accepted your application.</p>
<p>You are now a member of <%= @clan.name %> and are able to view this clan's resources.</p>