<p>Dear <%= @user.name %>,</p>
<p>Unfortunatly the <%= @clan.name %> Leader has rejected your application given the following reason:</p>
<p><%= @reason %></p>
<p>Please feel free to apply to join this clan at any future date. </p>