<p>Dear Clan Owner</p>
<p><%= @applicant.name  %> has submitted an application to join your clan.</p>
<p>Clan applications can be reviewed, approved and rejected under the Applications tab on the main Clan page on <%= link_to 'DarkFall Sage', 'http://darkfallsage.com' %></p>