<p>Dear <%= @user.name %></p>
<p><%= @clan.name %> has invited you to join their Clan.</p>
<p>To <strong>accept</strong> this invitation, click <%= link_to 'here', @accept %></p>
<p>To <strong>reject</strong> this invitation, click <%= link_to 'here', @reject %></p>