<div class="crumbs" style="margin-top:1.1em;">
 <strong><%= link_to "Forums", home_path %></strong> 
</div>
<br />
<% form_tag create_topic_path(@topicable.class.to_s, @topicable), :name => 'forumform', :id => 'forumform' do  -%>
  <%= render :partial => '/posts/post_form', :locals => {:forum => @topicable, :topic => @topic, :post => @post } %>
<% end -%>