<% content_block('Cannot Continue') do -%>
  <p>Cannot create or join a clan if:</p>
  <ul>
    <li><strong>Already own a clan</strong>. A clan owner can only own one clan and cannot join another clan.</li>
    <li><strong>A Member of another Clan</strong>. Cannot create your own clan or join a clan if you are already a member of a clan.</li>
  </ul>
<% end -%>