<h1>Creating a New Spell</h1>
<%= error_messages_for 'spell' -%>
<% form_for @spell, :html => { :multipart => true, :class => 'form_layout' } do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag('Create') %>
<% end -%>