<% form_tag create_topic_url(:forum_id=>@forum), :id => 'forumform', :name => 'forumform' do -%>
  <%= render :partial => 'posts/post_form', :locals => {:forum => forum, :topic => topic, :post => @post} %>
  <%= javascript_tag("jQuery('#cancel').attach(RemoteUpdateBlindClose, {update: '#new_topic_block'});") %>
<% end -%>