<div class="colmask fullpage">
	<div class="col1">
    <%= render :partial => '/layouts/google_banner' %>
    <!-- google_ad_section_start -->
    <%= yield %>
    <!-- google_ad_section_end -->
    <%= render :partial => '/layouts/google_banner' %>
	</div>
</div>
