  <div id="footer" style="font-size: 80%;">
    <p>
      A Kodan and McNaz Production. Developed and hosted by <a href="http://panthersoftware.com">Panther Software</a>.<br/>
      All content is copyright © 2009 - <%= Time.now.year %> by Darkfall Sage. All Rights Reserved. All submitted content becomes the property of Darkfall Sage.<br/>
      <%= link_to 'Privacy Policy', privacy_path %>
    </p>
  </div>